.row .default-btn{
    margin: 0;
}
.cart-area .coupon-cart .col-md-4 .default-btn.update-cart{
    line-height: 40px;
}
.table-bordered .cart-thead tr{display:block;
    width: 100%;}
.table-bordered .cart-tbody{display:block;overflow:auto;height: 404px;width: 100%}
.cart-area .cart-table .table-bordered .cart-thead tr th{
    border: none;
    color: #111111;
    font-size: 16px;
    font-weight: normal;
    height: 10px;
}
.cart-area .cart-table .table-bordered .cart-tbody tr td {
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid #dedede;
    white-space: nowrap;
}
