


.form-check > input[type=checkbox] {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    border: 1px solid rgba(0, 0, 0, .25);
}
.margin-bottom-50{
    margin-bottom: 50px;
}
